<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8" />
    <title>TODO LIST</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">

        <div class="mt-5">
            <div class="row">
                <div class="col-md-6 col-12 mx-auto">
                    <h2 th:text="'Update task with id = ' + ${id}"></h2>
                    <hr />
                    <form th:action="@{/task/update}" th:object="${newTask}" method="post">
                        <input type="hidden" name="id" th:value="${id}" />
                        <div class="mb-3 col-12 ">
                            <label class="form-label">Title:</label>
                            <input type="text" class="form-control" th:field="*{title}"
                                th:classappend="${#fields.hasErrors('title')} ? 'is-invalid' : ''" />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                                Title Error</div>
                        </div>
                        <div class="mb-3 col-12">
                            <label class="form-label">Description:</label>
                            <input type="text" class="form-control" path="address" th:field="*{description}"
                                th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : ''" />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}"
                                th:errors="*{description}">
                                Title Error</div>
                        </div>
                        <div class="mb-3 col-12">
                            <label class="form-label">Status:</label>
                            <select name="" id="" th:field="*{status}">
                                <option th:value="'TODO'">To Do</option>
                                <option th:value="'IN_PROGRESS'">In Progress</option>
                                <option th:value="'DONE'">Done</option>
                            </select>
                        </div>
                        <div class="mb-3 col-12">
                            <label class="form-label">Priority:</label>
                            <select name="" id="" th:field="*{priority}">
                                <option th:value="'1'">HIGH</option>
                                <option th:value="'2'">MEDIUM</option>
                                <option th:value="'3'">LOW</option>
                            </select>
                        </div>
                        <div class="col-12 mb-5">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</body>